# Ignorovat složky generované buildem
/target/
/out/
*.class

# Gradle build files
.gradle/
build/

# Nastavení IDE
.idea/
*.iml

# Systémové soubory
.DS_Store
Thumbs.db

# Logy a dočasné soubory
*.log